._34wo{display:block;margin:0 auto}
._3uqf{border:1px solid #dddfe2;display:block;font-size:12px;margin:4px 0;padding:4px 4px 4px 6px}.touch a._3uqf{color:#90949c}._3uqf ._3uqg{display:none;margin-left:4px;margin-top:3px;vertical-align:top}._3uqf.async_elem_saving ._3uqg{display:inline-block}

#bootloader_J4BlH{height:42px;}.bootloader_J4BlH{display:block!important;}